
{% extends "layout.html" %}
{% block content %}
 
 
<p class="zoom-area"><b>JRLABEL</b>  Error page </p>
<p class="zoom-area"><b>check</b>  your spelling </p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
   
</section>
<div class="link-container">
  <a target="_blank" href="{{url_for('home')}}" class="more-link"> Return to Home Page</a>
</div>




<div class="container404">
  <div class="coffee-header">
    <div class="coffee-header__buttons coffee-header__button-one"></div>
    <div class="coffee-header__buttons coffee-header__button-two"></div>
    <div class="coffee-header__display"></div>
    <div class="coffee-header__details"></div>
  </div>
  <div class="coffee-medium">
    <div class="coffe-medium__exit"></div>
    <div class="coffee-medium__arm"></div>
    <div class="coffee-medium__liquid"></div>
    <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
    <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
    <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
    <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
    <div class="coffee-medium__cup"></div>
  </div>
  <div class="coffee-footer"></div>
</div>

{% endblock content %}
		 
