
{% extends "layout.html" %}
{% block content %}
 
   <div class="container py-5 mt-5">

    <div class="row justify-content-center mt-5 py-5 text-light">


    <div class="text-center py-5 "> 
        <span class="display-5    py-5 goldcontact">Contact Us</span>
        <p class="text-light">Our team will be in touch with you soon.</p>
    </div>


    
        <div class="    text-center col-sm-12 col-lg-4 col"> <a href="mailto:jrstandmuzik@gmail.com"><i class="ri-mail-open-line gold"></i></a>
        <p class="text-muted fw-bold">mail us </p>
        <p>jrstandmuzik@gmail.com</p>
        </div>



        <div class="  text-center col-sm-12 col-lg-4"> <a href="tel:+2347067119718"><i class="ri-phone-fill gold"></i></a>
            <p class="text-muted fw-bold">call us today</p>
            <p>+2347067119718</p>
        </div>




        <div class="  text-center col-4 col-sm-12 col-lg-4"><i class="ri-global-line gold"></i>            
            <p class="text-muted fw-bold">We are world</p>
            <p>Wide</p>
        </div>
    </div>
   </div>
 

{% endblock content %}
		 
