
{% extends "layout.html" %}
{% block content %}

  
				<section id="banner"   style="background-image: url('{{ url_for('static', filename='img/banner.jpg') }}">
					<div class="inner">
						<header>
							<h1 class="goldtext">JR STAND SERVICES</h1>
							<p class="whitetext">Welcome to our music label! 🎵 We're passionate about bringing you the latest tunes and talented artists. Stay tuned for incredible music experiences, exclusive releases, and memorable moments. Join us in celebrating the power of music!</p>
						</header>
						<a href="https://www.jrstand.com" class="button  big alt scrolly bggold">our music site</a>
					</div>

				</section>

		<!-- Main -->
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>Nam eu nisi non ante sodale</h2>
							<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
						</header>
						<!-- 2 Column Video Section -->
							<div class="flex flex-2">
								<div class="video col">
									<div class="image fit">
										<img src="{{ url_for('static', filename='img/pic07.jpg') }}" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Pellentesque at nunc vitae urna suscipit mollis nec in arcu
									</p>
									<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="{{ url_for('static', filename='img/pic08.jpg') }}" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Morbi mattis ligula ut eros ipsum aliquam iaculis dictum suscipit
									</p>
									<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			<!-- Two -->
				<section class="wrapper style2 bgdark">
					<div class="inner">
						<header>
							<h2>Etiam veroeros lorem</h2>
							<p>Contact us to get started</p>
						</header>
						<!-- Tabbed Video Section -->
							<div class="flex flex-tabs">
								<ul class="tab-list">
									<li><a href="https://wa.me/+2347067119718" data-tab="tab-1" class="active">Whatsapp us</a></li>
									<li><a href="https://www.facebook.com/profile.php?id=100092431778590&mibextid=LQQJ4d" data-tab="tab-2">follow us on Facebook</a></li>
									<li><a href="#" data-tab="tab-3"> follow us on Twitter</a></li>
								</ul>
								<div class="tabs">

									<!-- Tab 1 -->
										<div class="tab tab-1 flex flex-3 active">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic01.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic02.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic07.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic04.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic05.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic06.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
										</div>

									<!-- Tab 2 -->
										<div class="tab tab-2 flex flex-3">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic09.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic05.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href=" https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic04.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic03.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic02.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic01.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
										</div>

									<!-- Tab 3 -->
										<div class="tab tab-3 flex flex-3">
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic03.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
								 
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic02.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											 
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic01.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic06.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic05.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
											<!-- Video Thumbnail -->
												<div class="video col">
													<div class="image fit">
														<img src="{{ url_for('static', filename='img/pic04.jpg') }}" alt="" />
														<div class="arrow">
															<div class="icon fa-play"></div>
														</div>
													</div>
													<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
												</div>
										</div>

								</div>
							</div>
					</div>
				</section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>Aliquam ipsum purus dolor</h2>
							<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										<img src="{{ url_for('static', filename='img/pic09.jpg') }}" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Cras eget lacus sed mauris scelerisque tincidunt
									</p>
									<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="{{ url_for('static', filename='img/pic10.jpg') }}" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Vivamus vulputate lacus non massa auctor lobortis
									</p>
									<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										<img src="{{ url_for('static', filename='img/pic07.jpg') }}" alt="" />
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Nam eu nisi non ante sodales interdum a vitae neque
									</p>
									<a href="https://www.jrstand.com" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

		<!-- Footer -->
			 

	 
{% endblock content %}
		 
